<table class="{{ params['table_class'] }}" id="{{ params['id'] }}">
    <thead>
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody ></tbody>
</table>